    :root, html, body {
    	margin: 0;
    }

    :root {
      --logo-size: 32px;
      --logo-padding-side: 16px;
      --logo-area: calc(var(--logo-size) + var(--logo-padding-side));
      --window-width: 650px;
      --bar-padding-top: 9px;
      --bar-padding-bottom: 11px;
      --bar-height: calc(var(--window-base-height) - var(--bar-padding-top) - var(--bar-padding-bottom));
      --window-base-height: 60px;
    }

    html {
    	background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    p {
    	-webkit-app-region: drag;
    	-webkit-user-select: none;
    }

    #logo {
    	width: var(--logo-size);
    	height: var(--logo-size);
    	float: left;
    	padding: 14px var(--logo-padding-side);
    }

    #bar, #bar-copy {
      display: inline-block;
      top: 0px;
      line-height: var(--bar-height);
      font-size: 28px;
      font-weight: 300;
    	padding-top: var(--bar-padding-top);
    	padding-bottom: var(--bar-padding-bottom);
      margin: 0px;
    	box-sizing: border-box;
    }

    #bar {
      position: absolute;
      left: 0px;
      width: var(--window-width);
      pointer-events: all;
    	background-color: transparent;
    	border: none;
    	color: white;
      padding-left: calc(var(--logo-size) + 2*var(--logo-padding-side));
    	padding-right: 15px;
    	outline: none;
    	float: left;
    }

    #minitext-container {
      display: flex;
      align-items: center;
      top: 0px;
      left: 0px;
    	margin-left: calc(var(--logo-size) + 2*var(--logo-padding-side));
    }

    #bar-copy {
      visibility: hidden;
      white-space: pre;
    }

    #minitext {
      font-size: 16px;
      white-space: pre;
      opacity: 0.6;
    }
